In [1]:
UserInput = []
for n in range(3):
    value = input()
    UserInput.append(value)
print(UserInput)

fgd
dfg
dfg
['fgd', 'dfg', 'dfg']

In [2]:
a = 10
if a: 
    print("this is the value of a")

this is the value of a

In [8]:
a =10
if a <20:
    print("test")

test

In [4]:
a<20

True

In [9]:
a =10
if a <20:
    pass

In [13]:
a =10
if a <20:True
print("print the value of a ")

IndentationError: unexpected indent (<ipython-input-13-231bf55b58d5>, line 3)

In [15]:
a = int(input("Enter a number: "))

if a<=20:
    print("True")
else:
    print("False")

Enter a number: 25
False

In [16]:
if a >20:
    pass

In [17]:
a =10
if a >20:
    print("this is number")

In [18]:
a = 10
if a >20:
    print("this is number")
else:
    print("print this statement")

print this statement

In [25]:
a = 10
if a > 20:
    print("this is number")
if a == 10:
    print("this is my alternate statement")

else:
    print("print this statement")

this is my alternate statement

In [26]:
a = 10
if a > 20:
    print("this is number")
if a == 10:
    print("this is my alternate statement")
elif a <20:
    print("print from elif")
else:
    print("print this statement")

this is my alternate statement

In [27]:
a = 10
if a > 20:
    print("this is number")
if a == 30:
    print("this is my alternate statement")
elif a <20:
    print("print from elif")
else:
    print("print this statement")

print from elif

In [28]:
a = 10
if a > 20:
    print("this is number")
if a == 30:
    print("this is my alternate statement")
elif type(a) ==int:
    print("i am checking a type of var")
elif a <20:
    print("print from elif")
else:
    print("print this statement")

i am checking a type of var

In [30]:
Discount = int(input("enter a value "))
if Discount == 50:
    print("you can buy all the items listed in row1")
elif Discount == 30:
    print("you can buy all the items from row no2")
elif Discount == 20:
    print("send user to rown no 3")
elif Discount > 10:
    print("send him to 4th row")
else:
    print("there is no items available")

enter a value 50
you can buy all the items listed in row1

In [32]:
income =int(input("Enter a value of income: "))
if income >1000:
    print("you can get a platinum card")
elif income >800:
    print("you can get a gold card")
else:
    print("you won't be able to get any card")

Enter a value of income: 500
you won't be able to get any card

In [33]:
income =int(input("Enter a value of income: "))
if income >1000:
    print("you can get a platinum card")
    if income > 2000:
        print("you will be able to get another facilities")
    elif income <1500:
        print("you won't be able to get another things")
    else:
        print("no option")
elif income >800:
    print("you can get a gold card")
else:
    print("you won't be able to get any card")

Enter a value of income: 1500
you can get a platinum card
no option

In [34]:
income =int(input("Enter a value of income: "))
if income >1000:
    print("you can get a platinum card")
    if income > 2000:
        print("you will be able to get another facilities")
        if income >2200:
            print("you will be able to get a discount in service")
        elif income > 2300:
            print("you will be able to get a air ticket")
        else:
            print("there is no option available")
    elif income <1500:
        print("you won't be able to get another things")
    else:
        print("no option")
elif income >800:
    print("you can get a gold card")
else:
    print("you won't be able to get any card")

Enter a value of income: 2450
you can get a platinum card
you will be able to get another facilities
you will be able to get a discount in service

In [35]:
val = int(input())
if val == 10 : print("this is 10")

10
this is 10

In [36]:
l = [2,3,4,5,6,1,2,3,3]
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [37]:
l = [2,3,4,5,6,1,2,3,3]
l[::]

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [38]:
for x in l:
    print(x)

2
3
4
5
6
1
2
3
3

In [39]:
l  = ["shivraj",[1,2,34,],(2,3,4,5,6),56,67,6+7j,True,45.67]

In [40]:
for i in l:
    print(i)

shivraj
[1, 2, 34]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67

In [41]:
l  = ["shivraj",[1,2,34,],(2,3,4,5,6),56,67,6+7j,True,45.67]
for i in l:
    if type(i) ==str:
        print(i)

shivraj

In [44]:
l  = ["shivraj",[1,2,34,],(2,3,4,5,6),56,67,6+7j,True,45.67,"kumar"]

for i in l:
    if type(i) ==str:
        print(i)

shivraj
kumar

In [45]:
l

['shivraj', [1, 2, 34], (2, 3, 4, 5, 6), 56, 67, (6+7j), True, 45.67, 'kumar']

In [46]:
for x in l:
    if type(x) == list:
        print(x[::-1])

[34, 2, 1]

In [47]:
 s= "shivraj kumar"
for x in s:
    print(x)

s
h
i
v
r
a
j

k
u
m
a
r

In [48]:
 s= "shivraj kumar"
for x in s:
    print(x+ "1")

s1
h1
i1
v1
r1
a1
j1
 1
k1
u1
m1
a1
r1

In [49]:
t = (3,4,5,6,7)
for i in t:
    print(i)

3
4
5
6
7

In [50]:
range(10)

range(0, 10)

In [51]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [55]:
l = ["hello",[2,3,3],"str",45.7,45+i,True,(2,3,4)]
for n in l:
    if type(n) == list:
        print(n)

[2, 3, 3]

In [56]:
a =10
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [57]:
a =10
for i in str(a):
    print(i)

1
0

In [58]:
li =[[1,2,3,4],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
li

[[1, 2, 3, 4], 'Jhon', (1, 2, 3, 4), 445, 44.8, (3+5j), True, 'Smith']

In [63]:
for l in li:
    if type(l)==list or type(l)== tuple or type(l)==str:
        print(l)

[1, 2, 3, 4]
Jhon
(1, 2, 3, 4)
Smith

In [71]:
li =[[1,2,3,4],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
for i in li:
    if type(i)==list and type(i) == tuple and type(i)==str:
        print(i)
    else:
        print("this is not possible")

this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible

In [72]:
li =[[1,2,3,4],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
for i in li:
    if type(i)==list or type(i) == tuple or type(i)==str:
        print(i)
    else:
        print("this is not possible")

[1, 2, 3, 4]
Jhon
(1, 2, 3, 4)
this is not possible
this is not possible
this is not possible
this is not possible
Smith

In [75]:
li =[[1,2,3,4,],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
for i in li:
    print(i)
    if type(i) == list:
        for x in i:
            print(x)

[1, 2, 3, 4]
1
2
3
4
Jhon
(1, 2, 3, 4)
445
44.8
(3+5j)
True
Smith

In [76]:
li =[[1,2,3,4,],"Jhon",(1,2,3,4),445,44.8,3+5j,True,"Smith"]
for i in li:
    print(i)
    if type(i) == list or type(i) == tuple or type(i) == str:
        for x in i:
            print(x)

[1, 2, 3, 4]
1
2
3
4
Jhon
J
h
o
n
(1, 2, 3, 4)
1
2
3
4
445
44.8
(3+5j)
True
Smith
S
m
i
t
h

### Creating pyramid

In [89]:
n = 5
for i in range(n):
    for j in range(i+1):
        print(".",end = " ")
    print("")

.
. .
. . .
. . . .
. . . . .

In [94]:
n = int(input())
for i in range(n):
    for j in range(i+1):
        print(".",end =" ")
    print("")

10
.
. .
. . .
. . . .
. . . . .
. . . . . .
. . . . . . .
. . . . . . . .
. . . . . . . . .
. . . . . . . . . .

### Task

1) try to create 1,2,3,2,1
               .
              .  .
             .  .  .
               .  .
                 .
2)l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]] 
try to find repeated accurence of numbers in list

In [127]:
l = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]] 
x = []
for i in l:
    if type(i) ==list:
        for j in i:
            if j not in x:
                x.append(j)
                print("the count of ",j,"is",i.count(j))
            else:
                x.append(j)

the count of  1 is 2
the count of  2 is 2
the count of  3 is 2
the count of  4 is 1
the count of  5 is 1
the count of  8 is 2

In [136]:
n = int(input())

for i in range(n):
    print(" "*(n-i),". "* i," "*(n-i))
for i in range(n-2,0,-1):
    print(" "*(n-i),". "* i," "*(n-i))

6

      .
     . .
    . . .
   . . . .
  . . . . .
   . . . .
    . . .
     . .
      .

In [135]:
s = "shivraj"
for i in range(len(s)):
    print(s[i],i)

s 0
h 1
i 2
v 3
r 4
a 5
j 6

In [167]:
l = [7,"shivraj"]
for i in l:
    if type(i) == int:
       
        j=(1,2,3,4)
        l.insert(i,j)

In [168]:
l

[7, 'shivraj', (1, 2, 3, 4)]

In [169]:
l = [7,"shivraj"]
j=(1,2,3,4)
for i in l:
    l[0]=j
print(l)

[(1, 2, 3, 4), 'shivraj']